Python/ClasesObjetos/*
Python/MundoPC/__pycache__/computer.cpython-313.pyc
Python/MundoPC/__pycache__/input_dispositive.cpython-313.pyc
Python/MundoPC/__pycache__/keyboard_pc.cpython-313.pyc
Python/MundoPC/__pycache__/monitor.cpython-313.pyc
Python/MundoPC/__pycache__/mouse.cpython-313.pyc
Python/MundoPC/__pycache__/order.cpython-313.pyc
Python/maquina-snacks/v2/__pycache__/snack.cpython-313.pyc
Python/maquina-snacks/v2/__pycache__/snacks.cpython-313.pyc
Python/archivos/excepcion.py
Python/catalogo/__pycache__/catalag.cpython-313.pyc
Python/archivos/*
Python-Mysql/seleccionar.py
Python-Mysql/__pycache__/select.cpython-313.pyc
Python-Mysql/insertar.py
Python-Mysql/actualizar.py
Python-Mysql/eliminar.py
Python-Mysql/conexion_pool.py
Python-Mysql/zona_fit/controllers/__pycache__/*
Python-Mysql/zona_fit/db/__pycache__/*
Python-Mysql/zona_fit/model/__pycache__/*
Python-Mysql/zona_fit/services/__pycache__/*
Python-Tkinter/01_mostrar_ventana.py
Python-Tkinter/__pycache__/*
