Python/ClasesObjetos/*
Python/MundoPC/__pycache__/computer.cpython-313.pyc
Python/MundoPC/__pycache__/input_dispositive.cpython-313.pyc
Python/MundoPC/__pycache__/keyboard_pc.cpython-313.pyc
Python/MundoPC/__pycache__/monitor.cpython-313.pyc
Python/MundoPC/__pycache__/mouse.cpython-313.pyc
Python/MundoPC/__pycache__/order.cpython-313.pyc
Python/maquina-snacks/v2/__pycache__/snack.cpython-313.pyc
Python/maquina-snacks/v2/__pycache__/snacks.cpython-313.pyc
Python/archivos/excepcion.py
Python/catalogo/__pycache__/catalag.cpython-313.pyc
Python/archivos/*
Python-Mysql/seleccionar.py
Python-Mysql/__pycache__/select.cpython-313.pyc
Python-Mysql/insertar.py
Python-Mysql/actualizar.py
Python-Mysql/eliminar.py
Python-Mysql/conexion_pool.py
Python-Mysql/zona_fit/controllers/__pycache__/*
Python-Mysql/zona_fit/db/__pycache__/*
Python-Mysql/zona_fit/model/__pycache__/*
Python-Mysql/zona_fit/services/__pycache__/*
Python-Tkinter/01_mostrar_ventana.py
Python-Tkinter/__pycache__/*
Python-Tkinter/zona-fit/__pycache__/*
Python-Tkinter/zona-fit/db/__pycache__/*
Python-Tkinter/zona-fit/models/__pycache__/*
Python-Tkinter/zona-fit/services/__pycache__/*
Python-Tkinter/02_etiquetas.py
Python-Tkinter/03_funciones_lambda.py
Python-Tkinter/04_botones.py
Python-Tkinter/05_cajatexto.py
Python-Tkinter/06_grid.py
Python-Tkinter/07_login.py
Python-Tkinter/08_tabla.py
Python-Tkinter/09_ventana_poo.py
